<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.poundcode.gitdo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".GitDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".repositories.list.RepositoriesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".repositorydetails.RepositoryDetailsActivity"
            android:label="@string/repository_details"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".repositories.search.AddRepositoryActivity"
            android:label="@string/add_repository"
            android:theme="@style/AppTheme"/>

        <activity android:name=".repositorydetails.comments.CommentsActivity"/>


        <!--WIDGET-->
        <provider
            android:name=".data.repositories.RepositoryProvider"
            android:authorities="io.poundcode.gitdo.repositories"
            android:exported="false"
            android:syncable="true"/>
        <service
            android:name=".widget.GitDoWidgetListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <!--END WIDGET-->

        <receiver android:name=".widget.GitDoWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/gitdo_widget"/>
        </receiver>

        <service
            android:name=".data.analytics.AnalyticsIntentService"
            android:exported="false"/>

        <service
            android:name=".data.sync.RepositorySyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <account-authenticator
            xmlns:android="http://schemas.android.com/apk/res/android"
            android:accountType="@string/sync_account_type"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"/>

        <service android:name=".data.sync.RepositorySyncAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
    </application>

</manifest>